body {
  margin: 0px, 10px, 0px, 10px;
}

#init_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#game {
  text-align: center;
}

fieldset {
  border: 5px solid grey;
  text-align: center;
}

fieldset .colorEq{
  border: 2px solid black;
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  justify-content: center;
}

input:checked{
  fill: red;
}

legend {
  font-weight: bold;
  font-size: large;
}

.teamParam {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 400px;
  margin-top: 20px;
  text-align: center;
}

.team {
  text-align: center;
}

.flag {
  width: 200px;
  height: 120px;
  border-style: solid;
  border-color: black;
  border: 0, 1px;
}

.gameParam {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.param {
  border: 5px;
  border-style: solid;
  border-color: grey;
  width: 40%;
  height: 240px;
  margin-right: 0px;
}

input {
  margin: 20px;
}

#imgGoGame {
  width: 240px;
  height: 240px;
  margin-top: 15px;
}
